// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

spann a{
border-radius:6px 6px 6px 6px;
-moz-border-radius:6px 6px 6px 6px;
-webkit-border-radius:6px 6px 6px 6px;
background:none repeat scroll 0 0 #FFFFFF;
//display:block;
//font-weight:bold;
height:20px;
line-height:20px;
margin:3px;
padding:3px 5px 3px 5px;
text-decoration:none;
float:left;
//text-transform:uppercase;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=2);
-moz-box-shadow: 0px 0px 4px #909090;
-webkit-box-shadow: 0px 0px 4px #909090;
box-shadow:0px 0px 4px #909090;

}

#content article .cloud li{
  display: inline;
  list-style: none outside none;
  padding: 0 4px;
}